@import "../../theme/variables";

.label-text {
    display: flex;
    flex-direction: column;
    width: 100%;

    &-label-container {
        h3 {
            font-size: 16px;
            font-weight: 700;
            color: $tertiary-color;
        }
    }

    &-text-container {
        p {

        }
    }
}