.register-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 32px;

    .register-page-card-internal-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        padding: 16px;

        .register-page-content-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            .register-page-form {
                display: flex;
                flex-direction: column;
                width: 100%;
                .register-page-input-container {
                    display: flex;
                    padding: 0 0 8px 0;
                    width: 100%;
                }
            }
            .register-page-action-buttons-container {
                display: flex;
                flex-direction: column;
                width: 100%;
                .register-page-button-container {
                    display: flex;
                    padding: 0 0 8px 0;
                    width: 100%;
                }
                .register-page-link-button-container {
                    display: flex;
                    padding: 8px 0;
                    width: 100%;
                    justify-content: center;
                }
            }
        }
    }
}
