.page-header-container {
    display: flex;
    width: 100%;

    .page-header-content-container {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;

        .page-header-back-handler-container {
            display: inline-flex;
        }
        .page-header-title-container {
            display: inline-flex;
        }
    }
}
