@import "../../../theme/variables";

.missions-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;

    &-missions-list {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        width: 100%;
        height: 100%;
        &-collapse-container {
            display: flex;
            padding: 0 0 8px 0;

            :last-child {
                padding: 0;
            }
            &-content-container {
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 100%;
                font-size: 14px;
                &-header {
                    padding: 0 0 16px 0;
                    span {
                        font-weight: 700;
                        padding: 0 8px 0 0;
                    }
                }
                &-content {
                    
                }
            }
        }
    }

    &-header-actions-buttons-container {
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding: 0 0 16px 0;
        &-button-container {
            display: flex;

            &-filter-button {
            }
        }
    }
}
