@import "../../../theme/variables";

.my-mission-view-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;

    &-form {
        display: flex;
        flex-direction: column;
        width: 100%;

        &-row {
            display: flex;
            padding: 0 0 8px 0;

            &-label-text-container {
                display: flex;
                width: 100%;
                padding-right: 8px;

                &:last-child {
                    padding: 0;
                }
            }
        }
    }
    &-footer-actions-buttons {
        display: flex;
        width: 100%;
        justify-content: flex-end;
        &-button-container {
            padding-right: 8px;
            
            &:last-child {
                padding: 0;
            }
        }
    }

    &-notification-of-canceled {
        display: flex;
        width: 100%;
        justify-content: flex-end;
        padding: 16px 0 0 0;
        p {
            font-size: 18px;
            color: $tertiary-color;
            font-weight: 900;
        }
    }
}
